In [1]:
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
percent_file = "API_BX.TRF.PWKR.DT.GD.ZS_DS2_en_csv_v2_55293.csv"
money_sent_file = "API_BX.TRF.PWKR.CD_DS2_en_csv_v2_41308.csv"
gdp_file="gdp.csv"

In [3]:
#Read in csv files
percent_df = pd.read_csv(percent_file)
money_df = pd.read_csv(money_sent_file)
gdp_df=pd.read_csv(gdp_file)

In [4]:
#Set indexes
money_df.set_index("Country Name", inplace=True)
percent_df.set_index("Country Name", inplace=True)
gdp_df.set_index("Country Name", inplace=True)

In [ ]:
#View column names
for col in money_df.columns:
    print(col)

In [5]:
#Drop unnecessary columns
money_df.drop(columns = ["Country Code", "Indicator Name", "Indicator Code"], inplace=True)
money_df

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$3,798,882.68","$3,854,748.60","$4,636,871.51","$2,960,893.85","$3,064,208.94","$4,069,796.09","$5,739,835.75","$5,787,158.10",NaN,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$76,642,039.99","$225,339,036.97","$71,699,645.23","$119,324,666.19","$166,416,610.21","$115,123,782.65","$115,710,097.90","$561,858,907.11","$668,771,148.24",NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$162,358.50","$17,972,037.00","$204,751.10","$40,348,853.99","$36,637,411.34","$30,971,119.27","$11,114,711.60","$3,988,048.38","$1,418,195.84","$1,579,247.15"
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$1,489,162,408.12","$1,355,423,159.82","$1,358,085,262.24","$1,268,025,848.84","$1,030,453,134.10","$1,089,414,808.87","$990,918,871.28","$996,001,354.46","$987,506,025.11","$1,093,985,822.91"
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arab World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$529,292,000.00","$534,932,803.53","$555,126,810.59","$421,861,583.53","$357,028,235.29","$334,182,352.94","$278,640,032.94","$312,737,270.00","$357,490,805.86","$416,888,269.65"
Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$602,211,942.31","$661,143,185.56","$790,034,907.05","$843,796,551.63","$963,883,900.02","$909,689,227.48","$649,112,349.84","$608,660,930.81","$680,515,591.35","$665,478,479.20"
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$12,108,409.26","$12,502,388.15","$12,671,205.93","$12,823,260.37","$12,989,962.59","$22,015,825.19","$29,265,407.77","$24,428,119.07","$30,472,237.00",NaN
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$508,216,831.03","$458,238,805.52","$434,117,956.09","$372,907,961.23","$382,705,581.03","$371,277,721.10","$310,183,139.78","$298,651,288.78","$300,668,410.95","$314,800,522.09"
Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$1,181,731,000.00","$1,337,833,000.00","$1,771,671,000.00","$1,852,412,000.00","$1,613,468,000.00","$1,708,876,000.00","$1,182,496,000.00","$564,194,000.00","$1,020,203,000.00","$1,079,629,000.00"
Burundi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$28,232,147.76","$34,498,929.51","$39,415,709.37","$36,120,205.77","$35,869,287.38","$46,417,934.25","$37,790,993.69","$20,695,363.30","$20,441,686.35",NaN
Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$137,413,900.41","$123,263,716.06","$169,412,547.75","$130,914,326.45","$136,792,026.71","$111,437,063.08","$213,993,843.87","$183,707,494.22","$172,972,805.31","$266,197,878.45"
Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$122,625,330.58","$127,108,662.95","$152,649,232.16","$189,180,149.71","$229,393,958.81","$283,923,249.46","$196,855,857.56","$201,258,778.47","$186,456,478.54",NaN
Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$84,004,980.19","$105,736,785.11","$204,337,622.73","$194,493,089.63","$292,044,549.15","$363,457,858.54","$357,612,944.67","$367,792,571.63","$380,194,076.62",NaN
Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$10,507,631,662.14","$10,836,030,645.67","$12,053,855,504.68","$14,101,727,141.71","$13,845,786,126.73","$14,963,574,984.09","$15,271,417,295.80","$13,548,987,677.12","$13,473,447,966.36",NaN
Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$998,893,485.37","$950,640,000.00","$1,074,410,000.00","$1,028,600,000.00","$1,127,740,000.00","$1,098,730,000.00","$940,790,000.00","$962,730,000.00","$1,288,150,000.00","$1,390,400,000.00"
Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Bahamas, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$1,431,700,839.62","$1,343,028,029.39","$1,428,694,666.93","$1,374,111,130.36","$1,475,196,511.39","$1,566,875,778.34","$1,347,933,409.08","$1,380,049,411.61","$1,530,968,038.19","$1,627,961,899.94"
Belarus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$170,100,000.00","$247,600,000.00","$395,500,000.00","$458,600,000.00","$592,600,000.00","$521,900,000.00","$507,900,000.00","$537,800,000.00","$645,300,000.00","$584,100,000.00"
Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$76,220,892.10","$75,777,060.09","$72,966,044.32","$73,588,137.19","$72,044,200.87","$77,976,908.12","$82,386,565.04","$94,313,497.18","$87,857,006.80","$90,155,229.28"
Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$609,834.59","$1,087,019.34","$1,504,242.89","$1,302,521.14","$1,526,565.55","$1,508,874.57","$1,500,922.38","$1,623,280.00","$1,623,280.00",NaN
Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$1,022,980,000.00","$939,330,273.83","$1,012,308,161.08","$1,094,341,361.18","$1,181,829,554.87","$1,163,553,185.94","$1,178,418,195.78","$1,233,038,012.53","$1,392,265,712.46","$1,370,057,196.84"
Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$2,223,780,400.00","$2,518,012,120.60","$2,549,924,932.93","$2,191,048,550.46","$2,124,462,674.96","$2,127,744,943.22","$2,459,375,113.38","$2,365,066,659.73","$2,300,370,883.51","$2,565,141,544.71"
Barbados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$52,841,873.47","$50,856,751.67","$73,158,119.33","$51,652,339.41","$48,004,458.06",NaN,NaN,NaN,NaN,NaN
Brunei Darussalam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Latin America & the Caribbean (IDA & IBRD countries),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$53,115,726,196.50","$54,787,563,937.37","$58,117,344,756.43","$58,381,468,745.36","$59,519,421,541.86","$62,176,802,271.57","$65,916,986,905.31","$70,828,823,405.14","$77,916,000,685.30",NaN
Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$6,466,984.00","$11,674,829.10","$17,079,819.95","$22,789,807.78","$29,179,746.71","$39,209,895.14","$57,458,100.00","$76,046,600.00","$82,916,514.13",NaN
Middle East & North Africa (IDA & IBRD countries),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$27,224,479,894.84","$33,421,326,587.97","$34,570,648,476.13","$40,930,022,106.66","$42,263,949,803.47","$47,742,765,511.70","$44,554,822,539.89","$43,875,885,755.58","$46,361,074,723.97",NaN
Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$77,583,545.19","$69,570,564.35","$68,204,189.53","$76,851,252.98","$107,406,851.40","$102,765,918.72","$128,050,108.80","$111,407,495.59","$125,028,451.92","$137,873,581.07"
South Asia (IDA & IBRD),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$73,806,401,255.59","$80,672,435,881.69","$93,784,503,327.46","$104,796,581,970.68","$107,228,465,404.40","$111,825,360,210.75","$113,360,198,509.82","$106,569,777,437.99","$112,104,153,048.40",NaN
Sub-Saharan Africa (IDA & IBRD countries),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$26,026,551,432.77","$28,772,767,300.90","$33,993,654,515.26","$34,812,235,360.11","$34,884,974,314.97","$36,728,589,724.25","$40,108,167,772.44","$36,155,948,868.48","$39,598,062,770.79",NaN
Trinidad and Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$109,300,000.00","$90,900,000.00","$161,839,741.86","$138,785,056.69","$144,461,593.70","$136,188,210.19","$152,539,797.78","$144,446,743.21","$134,620,106.60",NaN
Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$1,726,611,245.86","$1,724,814,866.56","$1,659,275,219.91","$1,911,528,221.65","$1,907,477,982.55","$1,961,329,465.30","$1,652,660,421.84","$1,497,462,795.43","$1,543,424,574.02",NaN
Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$1,129,000,000.00","$1,055,000,000.00","$1,168,000,000.00","$1,113,000,000.00","$1,094,000,000.00","$1,092,000,000.00","$952,000,000.00","$757,000,000.00","$744,000,000.00","$791,000,000.00"
Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$527,223.44","$496,074.20","$446,267.58","$358,367.81","$267,308.44",NaN,NaN,NaN,NaN,NaN
Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$28,436,056.51","$332,051,605.04","$385,163,366.21","$368,700,425.14","$351,738,289.18","$357,608,631.96","$365,305,527.41","$371,554,458.35","$363,354,888.44",NaN
Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$778,332,605.93","$768,000,000.00","$812,943,613.00","$910,316,842.97","$931,570,329.70","$885,933,822.41","$901,873,214.39","$1,145,540,000.00","$1,165,300,000.00","$1,229,966,995.47"
Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$2,515,000,000.00","$2,489,000,000.00","$2,997,000,000.00","$2,907,000,000.00","$2,885,000,000.00","$2,171,000,000.00","$2,843,000,000.00","$2,741,000,000.00","$2,995,000,000.00","$3,186,000,000.00"
Upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$75,010,741,055.41","$77,116,197,469.36","$82,911,057,407.26","$83,069,488,504.64","$91,475,735,238.06","$97,793,438,154.61","$107,791,841,003.05","$107,787,417,901.34","$115,714,947,927.23",NaN
Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$101,073,000.00","$124,891,000.00","$128,836,000.00","$91,602,186.21","$92,573,664.51","$91,860,385.92","$84,918,076.16","$85,051,786.05","$98,463,033.07","$104,268,963.50"
United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$3,649,084,896.12","$4,653,239,134.92","$4,662,510,828.74"
St. Vincent and the Grenadines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$21,977,455.93","$22,637,111.11","$22,999,304.81","$23,275,295.19","$23,511,074.07","$42,208,590.99","$40,072,989.68","$43,398,082.60","$44,396,238.50",NaN
"Venezuela, RB",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$110,000,000.00","$121,000,000.00","$118,000,000.00","$95,000,000.00","$96,000,000.00","$106,000,000.00","$140,000,000.00","$258,000,000.00",NaN,NaN
British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$75,367.37","$112,966.52","$113,628.93","$151,321.37","$222,305.16","$1,356,690.70","$662,891.42",NaN,NaN,NaN
World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$250,857,791,618.19","$269,703,305,916.18","$299,228,711,940.71","$318,628,562,082.48","$333,025,906,329.45","$351,517,769,277.73","$363,737,690,668.41","$358,207,655,127.05","$385,121,638,976.71",NaN
Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$119,074,053.06","$138,263,365.60","$159,453,694.00","$175,395,068.26","$151,523,292.49","$129,213,343.44","$126,954,135.04","$127,299,158.41","$133,405,710.25",NaN
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$819,009,774.46","$773,028,841.97","$684,638,637.34","$663,270,792.08","$761,844,405.55","$824,513,042.74","$737,757,316.26","$764,490,326.35","$859,547,210.24","$943,736,627.11"
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$1,160,000,000.00","$1,526,000,000.00","$1,403,920,000.00","$3,351,000,000.00","$3,342,500,000.00","$3,350,500,000.00","$3,350,500,000.00","$3,770,584,000.00",NaN,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$41,264,000.00","$43,657,312.00","$46,276,750.72","$72,864,000.00","$53,980,262.06","$58,300,302.43","$47,046,538.13","$38,464,441.00","$93,644,095.26","$106,965,625.94"
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"$1,203,358,645.57","$1,410,591,045.37","$1,911,869,277.70","$2,108,576,218.50","$1,887,575,920.87","$1,901,014,231.13","$2,043,623,185.76","$1,853,078,310.36","$1,726,483,817.48",NaN

In [6]:
money_df = money_df.iloc[:,-11:]
money_df

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,,
Aruba,"$1,843,575.42","$3,798,882.68","$3,854,748.60","$4,636,871.51","$2,960,893.85","$3,064,208.94","$4,069,796.09","$5,739,835.75","$5,787,158.10",NaN,NaN
Afghanistan,"$17,636,412.34","$76,642,039.99","$225,339,036.97","$71,699,645.23","$119,324,666.19","$166,416,610.21","$115,123,782.65","$115,710,097.90","$561,858,907.11","$668,771,148.24",NaN
Angola,"$71,042,000.00","$162,358.50","$17,972,037.00","$204,751.10","$40,348,853.99","$36,637,411.34","$30,971,119.27","$11,114,711.60","$3,988,048.38","$1,418,195.84","$1,579,247.15"
Albania,"$1,595,885,295.46","$1,489,162,408.12","$1,355,423,159.82","$1,358,085,262.24","$1,268,025,848.84","$1,030,453,134.10","$1,089,414,808.87","$990,918,871.28","$996,001,354.46","$987,506,025.11","$1,093,985,822.91"
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arab World,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,"$605,920,000.00","$529,292,000.00","$534,932,803.53","$555,126,810.59","$421,861,583.53","$357,028,235.29","$334,182,352.94","$278,640,032.94","$312,737,270.00","$357,490,805.86","$416,888,269.65"
Armenia,"$837,289,932.37","$602,211,942.31","$661,143,185.56","$790,034,907.05","$843,796,551.63","$963,883,900.02","$909,689,227.48","$649,112,349.84","$608,660,930.81","$680,515,591.35","$665,478,479.20"
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Antigua and Barbuda,"$12,534,586.30","$12,108,409.26","$12,502,388.15","$12,671,205.93","$12,823,260.37","$12,989,962.59","$22,015,825.19","$29,265,407.77","$24,428,119.07","$30,472,237.00",NaN
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,"$519,151,201.16","$508,216,831.03","$458,238,805.52","$434,117,956.09","$372,907,961.23","$382,705,581.03","$371,277,721.10","$310,183,139.78","$298,651,288.78","$300,668,410.95","$314,800,522.09"
Azerbaijan,"$1,416,054,000.00","$1,181,731,000.00","$1,337,833,000.00","$1,771,671,000.00","$1,852,412,000.00","$1,613,468,000.00","$1,708,876,000.00","$1,182,496,000.00","$564,194,000.00","$1,020,203,000.00","$1,079,629,000.00"
Burundi,"$3,645,216.68","$28,232,147.76","$34,498,929.51","$39,415,709.37","$36,120,205.77","$35,869,287.38","$46,417,934.25","$37,790,993.69","$20,695,363.30","$20,441,686.35",NaN
Belgium,"$138,730,731.70","$137,413,900.41","$123,263,716.06","$169,412,547.75","$130,914,326.45","$136,792,026.71","$111,437,063.08","$213,993,843.87","$183,707,494.22","$172,972,805.31","$266,197,878.45"
Benin,"$199,600,158.53","$122,625,330.58","$127,108,662.95","$152,649,232.16","$189,180,149.71","$229,393,958.81","$283,923,249.46","$196,855,857.56","$201,258,778.47","$186,456,478.54",NaN
Burkina Faso,"$84,999,002.42","$84,004,980.19","$105,736,785.11","$204,337,622.73","$194,493,089.63","$292,044,549.15","$363,457,858.54","$357,612,944.67","$367,792,571.63","$380,194,076.62",NaN
Bangladesh,"$8,925,333,246.18","$10,507,631,662.14","$10,836,030,645.67","$12,053,855,504.68","$14,101,727,141.71","$13,845,786,126.73","$14,963,574,984.09","$15,271,417,295.80","$13,548,987,677.12","$13,473,447,966.36",NaN
Bulgaria,"$1,024,729,577.23","$998,893,485.37","$950,640,000.00","$1,074,410,000.00","$1,028,600,000.00","$1,127,740,000.00","$1,098,730,000.00","$940,790,000.00","$962,730,000.00","$1,288,150,000.00","$1,390,400,000.00"
Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Bahamas, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bosnia and Herzegovina,"$1,899,373,299.97","$1,431,700,839.62","$1,343,028,029.39","$1,428,694,666.93","$1,374,111,130.36","$1,475,196,511.39","$1,566,875,778.34","$1,347,933,409.08","$1,380,049,411.61","$1,530,968,038.19","$1,627,961,899.94"
Belarus,"$169,500,000.00","$170,100,000.00","$247,600,000.00","$395,500,000.00","$458,600,000.00","$592,600,000.00","$521,900,000.00","$507,900,000.00","$537,800,000.00","$645,300,000.00","$584,100,000.00"
Belize,"$74,131,493.81","$76,220,892.10","$75,777,060.09","$72,966,044.32","$73,588,137.19","$72,044,200.87","$77,976,908.12","$82,386,565.04","$94,313,497.18","$87,857,006.80","$90,155,229.28"
Bermuda,"$231,505.03","$609,834.59","$1,087,019.34","$1,504,242.89","$1,302,521.14","$1,526,565.55","$1,508,874.57","$1,500,922.38","$1,623,280.00","$1,623,280.00",NaN
Bolivia,"$1,097,225,258.53","$1,022,980,000.00","$939,330,273.83","$1,012,308,161.08","$1,094,341,361.18","$1,181,829,554.87","$1,163,553,185.94","$1,178,418,195.78","$1,233,038,012.53","$1,392,265,712.46","$1,370,057,196.84"
Brazil,"$2,912,592,000.00","$2,223,780,400.00","$2,518,012,120.60","$2,549,924,932.93","$2,191,048,550.46","$2,124,462,674.96","$2,127,744,943.22","$2,459,375,113.38","$2,365,066,659.73","$2,300,370,883.51","$2,565,141,544.71"
Barbados,"$55,238,845.85","$52,841,873.47","$50,856,751.67","$73,158,119.33","$51,652,339.41","$48,004,458.06",NaN,NaN,NaN,NaN,NaN
Brunei Darussalam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
Latin America & the Caribbean (IDA & IBRD countries),"$60,606,451,973.59","$53,115,726,196.50","$54,787,563,937.37","$58,117,344,756.43","$58,381,468,745.36","$59,519,421,541.86","$62,176,802,271.57","$65,916,986,905.31","$70,828,823,405.14","$77,916,000,685.30",NaN
Timor-Leste,"$5,235,100.00","$6,466,984.00","$11,674,829.10","$17,079,819.95","$22,789,807.78","$29,179,746.71","$39,209,895.14","$57,458,100.00","$76,046,600.00","$82,916,514.13",NaN
Middle East & North Africa (IDA & IBRD countries),"$29,020,619,120.75","$27,224,479,894.84","$33,421,326,587.97","$34,570,648,476.13","$40,930,022,106.66","$42,263,949,803.47","$47,742,765,511.70","$44,554,822,539.89","$43,875,885,755.58","$46,361,074,723.97",NaN
Tonga,"$99,314,446.78","$77,583,545.19","$69,570,564.35","$68,204,189.53","$76,851,252.98","$107,406,851.40","$102,765,918.72","$128,050,108.80","$111,407,495.59","$125,028,451.92","$137,873,581.07"
South Asia (IDA & IBRD),"$70,648,813,354.44","$73,806,401,255.59","$80,672,435,881.69","$93,784,503,327.46","$104,796,581,970.68","$107,228,465,404.40","$111,825,360,210.75","$113,360,198,509.82","$106,569,777,437.99","$112,104,153,048.40",NaN
Sub-Saharan Africa (IDA & IBRD countries),"$26,171,052,398.22","$26,026,551,432.77","$28,772,767,300.90","$33,993,654,515.26","$34,812,235,360.11","$34,884,974,314.97","$36,728,589,724.25","$40,108,167,772.44","$36,155,948,868.48","$39,598,062,770.79",NaN
Trinidad and Tobago,"$94,500,000.00","$109,300,000.00","$90,900,000.00","$161,839,741.86","$138,785,056.69","$144,461,593.70","$136,188,210.19","$152,539,797.78","$144,446,743.21","$134,620,106.60",NaN
Tunisia,"$1,725,126,304.47","$1,726,611,245.86","$1,724,814,866.56","$1,659,275,219.91","$1,911,528,221.65","$1,907,477,982.55","$1,961,329,465.30","$1,652,660,421.84","$1,497,462,795.43","$1,543,424,574.02",NaN
Turkey,"$1,613,000,000.00","$1,129,000,000.00","$1,055,000,000.00","$1,168,000,000.00","$1,113,000,000.00","$1,094,000,000.00","$1,092,000,000.00","$952,000,000.00","$757,000,000.00","$744,000,000.00","$791,000,000.00"
Tuvalu,"$708,786.58","$527,223.44","$496,074.20","$446,267.58","$358,367.81","$267,308.44",NaN,NaN,NaN,NaN,NaN
Tanzania,"$27,500,268.78","$28,436,056.51","$332,051,605.04","$385,163,366.21","$368,700,425.14","$351,738,289.18","$357,608,631.96","$365,305,527.41","$371,554,458.35","$363,354,888.44",NaN
Uganda,"$723,521,002.70","$778,332,605.93","$768,000,000.00","$812,943,613.00","$910,316,842.97","$931,570,329.70","$885,933,822.41","$901,873,214.39","$1,145,540,000.00","$1,165,300,000.00","$1,229,966,995.47"
Ukraine,"$3,153,000,000.00","$2,515,000,000.00","$2,489,000,000.00","$2,997,000,000.00","$2,907,000,000.00","$2,885,000,000.00","$2,171,000,000.00","$2,843,000,000.00","$2,741,000,000.00","$2,995,000,000.00","$3,186,000,000.00"
Upper middle income,"$80,115,955,125.51","$75,010,741,055.41","$77,116,197,469.36","$82,911,057,407.26","$83,069,488,504.64","$91,475,735,238.06","$97,793,438,154.61","$107,791,841,003.05","$107,787,417,901.34","$115,714,947,927.23",NaN
Uruguay,"$107,912,000.00","$101,073,000.00","$124,891,000.00","$128,836,000.00","$91,602,186.21","$92,573,664.51","$91,860,385.92","$84,918,076.16","$85,051,786.05","$98,463,033.07","$104,268,963.50"
United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$3,649,084,896.12","$4,653,239,134.92","$4,662,510,828.74"
St. Vincent and the Grenadines,"$22,695,074.07","$21,977,455.93","$22,637,111.11","$22,999,304.81","$23,275,295.19","$23,511,074.07","$42,208,590.99","$40,072,989.68","$43,398,082.60","$44,396,238.50",NaN
"Venezuela, RB","$117,000,000.00","$110,000,000.00","$121,000,000.00","$118,000,000.00","$95,000,000.00","$96,000,000.00","$106,000,000.00","$140,000,000.00","$258,000,000.00",NaN,NaN
British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vanuatu,"$79,408.00","$75,367.37","$112,966.52","$113,628.93","$151,321.37","$222,305.16","$1,356,690.70","$662,891.42",NaN,NaN,NaN
World,"$261,825,166,941.05","$250,857,791,618.19","$269,703,305,916.18","$299,228,711,940.71","$318,628,562,082.48","$333,025,906,329.45","$351,517,769,277.73","$363,737,690,668.41","$358,207,655,127.05","$385,121,638,976.71",NaN
Samoa,"$108,421,660.78","$119,074,053.06","$138,263,365.60","$159,453,694.00","$175,395,068.26","$151,523,292.49","$129,213,343.44","$126,954,135.04","$127,299,158.41","$133,405,710.25",NaN
Kosovo,"$784,198,620.94","$819,009,774.46","$773,028,841.97","$684,638,637.34","$663,270,792.08","$761,844,405.55","$824,513,042.74","$737,757,316.26","$764,490,326.35","$859,547,210.24","$943,736,627.11"
"Yemen, Rep.","$1,410,520,000.00","$1,160,000,000.00","$1,526,000,000.00","$1,403,920,000.00","$3,351,000,000.00","$3,342,500,000.00","$3,350,500,000.00","$3,350,500,000.00","$3,770,584,000.00",NaN,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,"$68,195,000.00","$41,264,000.00","$43,657,312.00","$46,276,750.72","$72,864,000.00","$53,980,262.06","$58,300,302.43","$47,046,538.13","$38,464,441.00","$93,644,095.26","$106,965,625.94"
Zimbabwe,NaN,"$1,203,358,645.57","$1,410,591,045.37","$1,911,869,277.70","$2,108,576,218.50","$1,887,575,920.87","$1,901,014,231.13","$2,043,623,185.76","$1,853,078,310.36","$1,726,483,817.48",NaN

In [7]:
#Drops columns with all NAs
money_df.dropna(1,how="all", inplace=True)

In [8]:
#Convert data into floats to allow addition
for col in money_df.columns:
    money_df[col] = money_df[col].str.replace("$","")
    money_df[col] = money_df[col].str.replace(",","")
    money_df[col] = money_df[col].str.replace("-","")
    money_df[col] = money_df[col].str.replace(")","")
    money_df[col] = money_df[col].astype(float)

In [9]:
#Create a total column and sum the rows
money_df.loc[:,'Total'] = money_df.sum(axis=1)

In [10]:
#Sort by total to find top five countries by Personal transfers receipts
money_df=money_df.sort_values("Total", ascending=False)
money_df

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,Total
Country Name,,,,,,,,,,,,
World,2.618252e+11,2.508578e+11,2.697033e+11,2.992287e+11,3.186286e+11,3.330259e+11,3.515178e+11,3.637377e+11,3.582077e+11,3.851216e+11,NaN,3.191854e+12
IDA & IBRD total,2.383271e+11,2.305069e+11,2.499678e+11,2.770531e+11,2.966364e+11,3.106620e+11,3.278050e+11,3.422139e+11,3.367564e+11,3.617734e+11,NaN,2.971702e+12
Low & middle income,2.319892e+11,2.254167e+11,2.448977e+11,2.716992e+11,2.922429e+11,3.053975e+11,3.224081e+11,3.370460e+11,3.317978e+11,3.565504e+11,NaN,2.919446e+12
Middle income,2.218751e+11,2.156349e+11,2.326607e+11,2.583522e+11,2.754413e+11,2.875070e+11,3.028734e+11,3.164262e+11,3.110478e+11,3.386873e+11,NaN,2.760506e+12
IBRD only,1.811552e+11,1.712570e+11,1.841134e+11,2.022431e+11,2.134516e+11,2.240527e+11,2.350865e+11,2.433520e+11,2.377459e+11,2.603278e+11,NaN,2.152785e+12
Early-demographic dividend,1.570583e+11,1.530595e+11,1.682895e+11,1.880574e+11,2.085500e+11,2.136014e+11,2.292567e+11,2.345700e+11,2.336295e+11,2.509185e+11,NaN,2.036991e+12
Lower middle income,1.417592e+11,1.406242e+11,1.555445e+11,1.754412e+11,1.923718e+11,1.960313e+11,2.050799e+11,2.086343e+11,2.032603e+11,2.229724e+11,NaN,1.841719e+12
South Asia (IDA & IBRD),7.064881e+10,7.380640e+10,8.067244e+10,9.378450e+10,1.047966e+11,1.072285e+11,1.118254e+11,1.133602e+11,1.065698e+11,1.121042e+11,NaN,9.747967e+11
South Asia,7.064881e+10,7.380640e+10,8.067244e+10,9.378450e+10,1.047966e+11,1.072285e+11,1.118254e+11,1.133602e+11,1.065698e+11,1.121042e+11,NaN,9.747967e+11
Upper middle income,8.011596e+10,7.501074e+10,7.711620e+10,8.291106e+10,8.306949e+10,9.147574e+10,9.779344e+10,1.077918e+11,1.077874e+11,1.157149e+11,NaN,9.187868e+11
IDA total,5.717192e+10,5.924990e+10,6.585440e+10,7.481001e+10,8.318477e+10,8.660922e+10,9.271850e+10,9.886190e+10,9.901050e+10,1.014456e+11,NaN,8.189167e+11
Latin America & Caribbean,6.066353e+10,5.317237e+10,5.484228e+10,5.835455e+10,5.858514e+10,5.972123e+10,6.232906e+10,6.606235e+10,7.097694e+10,7.805467e+10,NaN,6.227621e+11
Latin America & the Caribbean (IDA & IBRD countries),6.060645e+10,5.311573e+10,5.478756e+10,5.811734e+10,5.838147e+10,5.951942e+10,6.217680e+10,6.591699e+10,7.082882e+10,7.791600e+10,NaN,6.213666e+11
Latin America & Caribbean (excluding high income),5.998513e+10,5.252706e+10,5.411246e+10,5.742518e+10,5.770647e+10,5.879419e+10,6.126481e+10,6.516760e+10,7.013823e+10,7.719794e+10,NaN,6.143191e+11
India,4.917963e+10,4.833166e+10,5.248956e+10,6.025941e+10,6.596187e+10,6.679901e+10,6.683161e+10,6.522960e+10,5.908377e+10,6.452322e+10,NaN,5.986893e+11
Late-demographic dividend,4.987168e+10,4.782142e+10,4.966503e+10,5.444460e+10,5.399858e+10,6.042950e+10,6.216307e+10,6.948112e+10,6.591835e+10,6.955039e+10,NaN,5.833437e+11
IDA only,2.863756e+10,2.898624e+10,3.280178e+10,3.760288e+10,4.367778e+10,4.629951e+10,4.956878e+10,5.330263e+10,5.075919e+10,4.980530e+10,NaN,4.214416e+11
IDA blend,2.853436e+10,3.026366e+10,3.305262e+10,3.720713e+10,3.950700e+10,4.030971e+10,4.314973e+10,4.555927e+10,4.825131e+10,5.164029e+10,NaN,3.974751e+11
Middle East & North Africa (excluding high income),2.926292e+10,2.749265e+10,3.377019e+10,3.497580e+10,4.184411e+10,4.262232e+10,4.809787e+10,4.471678e+10,4.407691e+10,4.653412e+10,NaN,3.933937e+11
Middle East & North Africa (IDA & IBRD countries),2.902062e+10,2.722448e+10,3.342133e+10,3.457065e+10,4.093002e+10,4.226395e+10,4.774277e+10,4.455482e+10,4.387589e+10,4.636107e+10,NaN,3.899656e+11
East Asia & Pacific (IDA & IBRD countries),2.400592e+10,2.546892e+10,2.737615e+10,2.864445e+10,3.039033e+10,3.484711e+10,3.725475e+10,4.989669e+10,4.823272e+10,4.903109e+10,NaN,3.551481e+11
Sub-Saharan Africa,2.617105e+10,2.602655e+10,2.877277e+10,3.399365e+10,3.481224e+10,3.488497e+10,3.672859e+10,4.010817e+10,3.615595e+10,3.959806e+10,NaN,3.372520e+11
Sub-Saharan Africa (IDA & IBRD countries),2.617105e+10,2.602655e+10,2.877277e+10,3.399365e+10,3.481224e+10,3.488497e+10,3.672859e+10,4.010817e+10,3.615595e+10,3.959806e+10,NaN,3.372520e+11
Sub-Saharan Africa (excluding high income),2.616878e+10,2.601127e+10,2.875628e+10,3.396932e+10,3.479549e+10,3.487302e+10,3.671446e+10,4.009471e+10,3.613893e+10,3.958107e+10,NaN,3.371033e+11
Europe & Central Asia (IDA & IBRD countries),2.787421e+10,2.486482e+10,2.493756e+10,2.794249e+10,2.732576e+10,3.191803e+10,3.207678e+10,2.837706e+10,3.109326e+10,3.676305e+10,3.680285e+10,3.299759e+11
Least developed countries: UN classification,2.048367e+10,2.153056e+10,2.436454e+10,2.764492e+10,3.301739e+10,3.552878e+10,3.820357e+10,3.977753e+10,3.875486e+10,3.620979e+10,NaN,3.155156e+11
East Asia & Pacific (excluding high income),2.400447e+10,2.546751e+10,2.737470e+10,2.864276e+10,3.038828e+10,3.484509e+10,3.725286e+10,4.989476e+10,4.823075e+10,NaN,NaN,3.061012e+11
Pre-demographic dividend,2.554226e+10,2.446968e+10,2.697379e+10,2.927100e+10,2.950937e+10,3.073937e+10,3.100896e+10,3.242259e+10,3.142632e+10,3.489579e+10,NaN,2.962591e+11
Europe & Central Asia (excluding high income),2.191909e+10,2.011177e+10,2.021162e+10,2.290162e+10,2.271201e+10,2.703442e+10,2.725277e+10,2.381193e+10,2.664322e+10,3.210384e+10,3.201423e+10,2.767165e+11
Mexico,2.514499e+10,2.130633e+10,2.130388e+10,2.280297e+10,2.243832e+10,2.230275e+10,2.364728e+10,2.478477e+10,2.699328e+10,3.029054e+10,3.347042e+10,2.744855e+11
...,...,...,...,...,...,...,...,...,...,...,...,...
Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Liechtenstein,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
"Bahamas, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Portugal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
"Korea, Dem. Peoples Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
San Marino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Brunei Darussalam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Oman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Central African Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Nauru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Canada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Gibraltar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
North America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Malaysia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Channel Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Chile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Chad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Middle East & North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Maldives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Monaco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
St. Martin (French part),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00

In [11]:
money_df = money_df.iloc[14:,]

In [14]:
money_df.iloc[1]

54444598979.16

In [ ]:
money_df.iloc[0:15,]

In [ ]:
money_df= money_df.drop(money_df.index[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,30,32,34,35,37,38,41,42,43,50,53]])
money_df

In [ ]:
top_transfers_df=money_df.head(5)
top_transfers_df

In [ ]:
top_transfers_df= top_transfers_df.groupby(['Country Name'])['Total'].max()
top_transfers_df

In [ ]:
gdp_df.loc[:,'Total'] = gdp_df.sum(axis=1)

In [ ]:
gdp_df=gdp_df.sort_values("Total", ascending=False)
gdp_df

In [ ]:
top_transfers_gdp_df=gdp_df.groupby(['Country Name'])['Total'].max()
top_transfers_gdp_df.head()